@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}

@theme {
  --text-course-deatails-heading-small: 26px;
  --text-course-deatails-heading-small--line-height: 36px;

  --text-course-deatails-heading-large: 36px;
  --text-course-deatails-heading-large--line-height: 44px;

  --text-home-heading-small: 28px;
  --text-home-heading-small--line-height: 34px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;

  --text-default: 15px;
  --text-default--line-height: 21px;

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}